.App {
  color: #2a4326;
  background: #dae5d8;
  max-width: 950px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px 0;
  box-shadow: 18px 9px 39px -3px rgba(134, 167, 141, 0.75);
}

.App-header {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}

.App a {
  color: #ef7ca8;
  font-weight: 700;
}
